{% extends 'base.html' %}
{% load static %}



{% block title_block %}Shows - Rate A Leg{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'css/chosen_shows.css' %}">
</head>

<div class ="play-details">
    <img src="{% static 'images/'|add:play.slug|add:'.jpg' %}" alt="{{ play.title }}" style="max-width: 25%; height: auto;">
    <h1>{{ play.title }}</h1>
    <p>{{ play.description }}</p>
    <div class="info-box">
        <p><strong>Date Showing:</strong></p>
        <p><strong>Location:</strong></strong></p>
        <p><strong>Playwright: </strong> {{play.WriterFirstName}} {{play.WriterSecondName}}</p>
    </div>
</div>
    
<div class="ratings-contain">
<h3>Soundtrack Rating</h3>
<div class="rate-rows">
    <div class="stars">
    <form class="rate-form" action="" method="POST" id="soundtrack-form" data-playid="{{ play.playID }}">
        {% csrf_token %}
        <span class="fa fa-star fa-3x soundtrack" data-value="1"></span>
        <span class="fa fa-star fa-3x soundtrack" data-value="2"></span>
        <span class="fa fa-star fa-3x soundtrack" data-value="3"></span>
        <span class="fa fa-star fa-3x soundtrack" data-value="4"></span>
        <span class="fa fa-star fa-3x soundtrack" data-value="5"></span>
    </form>
    </div>
</div>

<h3>Set Rating</h3>
<div class="rate-rows">
    <div class="stars">
    <form class="rate-form" action="" method="POST" id="set-form" data-playid="{{ play.playID }}">
        {% csrf_token %}
        <span class="fa fa-star fa-3x set" data-value="1"></span>
        <span class="fa fa-star fa-3x set" data-value="2"></span>
        <span class="fa fa-star fa-3x set" data-value="3"></span>
        <span class="fa fa-star fa-3x set" data-value="4"></span>
        <span class="fa fa-star fa-3x set" data-value="5"></span>
    </form>
    </div>
</div>

<h3>Cast Rating</h3>
<div class="rate-rows">
    <div class="stars">
    <form class="rate-form" action="" method="POST" id="cast-form" data-playid="{{ play.playID }}">
        {% csrf_token %}
        <span class="fa fa-star fa-3x cast" data-value="1"></span>
        <span class="fa fa-star fa-3x cast" data-value="2"></span>
        <span class="fa fa-star fa-3x cast" data-value="3"></span>
        <span class="fa fa-star fa-3x cast" data-value="4"></span>
        <span class="fa fa-star fa-3x cast" data-value="5"></span>
    </form>
    </div>
</div>


<div class="submit-ratings">
    <button id="submit-rating-btn" class="btn btn-primary mt-3" disabled>Submit Ratings</button>
</div>
</div>

<h3>Average Rating</h3>
<div class="average-rating">
    {% for i in "12345" %}
        {% if i|add:"0" <= avg_rating %}
            <span class="fa fa-star checked"></span>  
        {% elif i|add:"0" < avg_rating|floatformat:0|add:"1" %}
            <span class="fa fa-star-half-alt checked"></span> 
        {% else %}
            <span class="fa fa-star"></span>  
        {% endif %}
    {% endfor %}
</div>

<script src="{% static 'javascript/chosenplays.js' %}"></script>
    

{% endblock %}
