{% extends 'base.html' %}
{% load static %}

{% block title_block %}Shows - Rate A Leg{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div>
<div class="container mt-4">
    

    
    <div class="login">
        <h1>Login</h1>
    <form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">
        Submit
    </button>
</div>
</div>
</div>


{% endblock %}