{% extends 'base.html' %}
{% load static %}

{% block title_block %}Maps - Rate A Leg{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/maps.css' %}">

<div class="container">


  <div class="theatre-list">
  <h3>Popular Theatres in Glasgow</h3>
  <ul>
    <li><a href="{{ kingstheatre }}"><p>King's Theatre</p></a></li>
    <li><a href="{{ theatreroyal }}"><p>Theatre Royal</p></a></li>
    <li><a href="{{ paviliontheatre }}"><p>Pavilion Theatre</p></a></li>
    </ul>

  </div>


 <!-- The API Maps-->

 <div class="theatre-list map-container">
  <iframe 
  width="600"
  height="450"
  frameborder="0" 
  referrerpolicy="no-referrer-when-downgrade"
  src="{{ googleapi }}"
  allowfullscreen>
</iframe> 
</div>

</div>

{% endblock %}