{% extends 'base.html' %}
{% load static %}

{% block title_block %}Profile - Rate A Leg{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container mt-4">
    <div class="profile-container">
        <div class="profile-left">
            <img src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'images/default-profile-pic.jpg' %}{% endif %}" 
            alt="Profile Picture" id="profile-pic">
            <input type="file" id="profile-pic-upload" accept="image/*" style="display: none;">
        </div>
        <div class="profile-right">
            <h2>{{ user.username }}</h2>
            <p id="bio">{{ user.bio }}</p>
            <div id="container">
                <p id="edit"><b> Click "Edit" button to edit content. </b></p>
                <button type="submit" id="edit-button">EDIT</button>
                <button id="done-button" style="display: none;">DONE</button>
            </div>  
            <script src="{% static 'javascript/edit.js' %}"></script>
        </div>
    </div>
    <h3>Recently Reviewed Shows</h3>
    <a href="{% url 'plays:logout' %}" id="logout-btn">Logout</a>
</div>

{% endblock %}