{% extends 'base.html' %}
{% load static %}

{% block title_block %}Profile - Rate A Leg{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container mt-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-container">
            <div class="profile-left">
                <img src="{{ profile_picture_url }}" alt="Profile Picture" id="profile-pic">
                <input type="file" name="profile_pic" id="profile-pic-upload" accept="image/*" style="display: none;">
            </div>
            <div class="profile-right">
                <h2>{{ user.username }}</h2>
                <p id="bio">{{ user.bio }}</p>
                <div id="container">
                    <button type="button" id="edit-button">EDIT</button>
                    <button type="submit" id="done-button" style="display: none;">DONE</button>
                </div>  
            </div>
        </div>
        <h3>Recently Reviewed Shows</h3>
        <a href="{% url 'plays:logout' %}" id="logout-btn">Logout</a>
    </form>
    <script src="{% static 'javascript/edit.js' %}"></script>
</div>
{% endblock %}
