{% extends 'base.html' %}
{% load static %} 

{% block title_block %}Shows - Rate A Leg{% endblock %}

<head>
  <link rel="stylesheet" href="{% static 'css/shows.css' %}">
</head>


{% block body_block %}
<div class="container mt-4">
    <h1>Here is the Home Page !</h1>
    <p>The Shows will go here</p>
</div>

<div class ="grid">
        {% for play in plays %}
        <div class = "play">
          <h3>{{ play.title }}</h3>
          <a href="{% url 'plays:choosen_show' play_slug=play.slug %}">
          <div class = "image">
          <img src="{% static 'images/'|add:play.slug|add:'.jpg' %}" alt="{{ play.title }}" />
          </div>
        </div>
      {% endfor %}
</div>



{% endblock %}