/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
}

/* Form Styles */
.form-control {
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-primary {
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}