.container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.theatre-list {
    flex: 1; 
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: 600px;
    width: 500px;
}

.map-container iframe {
    width: 100%; 
    height: 100%; 
    border-radius: 10px;
}

.theatre-list h3, .theatre-list ul, .theatre-list li {
    padding: 10px;
    margin: 0;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

.theatre-list a {
    font-size: 25px;
    text-decoration: none;
    color: inherit;
}

